<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/ganesha-favicon.ico">
    <link rel="stylesheet" href="output.css">
    <title>Ganesha_Chatbot</title>
</head>

<body>
    <header class="header bg-amber-500 m-0 w-full h-16">
        <nav class="container flex items-center justify-between mx-auto p-4">
            <ul class="flex gap-2 font-bold text-white">
                <li class="font-medium">About</li>
                <li>Home</li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/handle" method="POST">
            <button class="border-4" id="talk" >Talk to ganesha</button>
        </form>
    </main>
    <footer></footer>
</body>

</html>